.edit-contact-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.edit-contact-container .edit-contact {
  display: flex;
  width: 500px;
  flex-direction: column;
  gap: 20px;
}

.edit-contact-container .edit-contact-input-grp {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.edit-contact-container .edit-contact-input {
  border-radius: 5px;
  height: 35px;
  padding: 7px;
}
.edit-contact-container .btn-input-edit {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.edit-contact-container .btn-input-edit:hover {
  background-color: cadetblue; /* Change background color to blue */
  color: white; /* Change text color to white */
}
